body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.one {
    font-size: 50px;
}

.three {
    color: orange;
}

.jani {
    color: orangered;
    font-size: 30px;
}

.na {
    color: #4b3636;
}

.Contaner {
    display: flex;
    margin-bottom: 100px;
}

.half {
    width: 50%;
    padding-left: 5%;
}

.half img {
    width: 90%;
    background-image: linear-gradient(black red);
    border-radius: 40px;
}

.link-button {
    text-decoration: none;
    background-color: black;
    background-image: linear-gradient(#000000 #251313);
    font-weight: 500;
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 5px;
}

.four {
    color: #186464;
}

.top-banner {
    background-image: url(image/8.jpg);
}

.top-pinik {
    background-image: url(image/02.png);
}

.new-experience {
    background-image: url(image/images.jpg);
}

.half-dev {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;

    box-shadow: 10px 10px 30px red;
}

#Full {
    border-left: 7px solid orchid;
}

#Baby {
    border-left: 7px solid blueviolet;
}

footer p {
    text-align: center;
}