body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.one {
    font-size: 50px;
}

.three {
    color: orange;
}

.jani {
    color: orangered;
    font-size: 30px;
}

.na {
    color: #4b3636;
}

section {
    display: flex;
    margin-top: 10px;
}

.half {
    width: 100%;
    padding-left: 5%;
}

.half img {
    width: 90%;
    background-image: linear-gradient(black red);
    border-radius: 40px;
}

.link-button {
    text-decoration: none;
    background-color: black;
    background-image: linear-gradient(#000000 #251313);
    font-weight: 500;
    color: whitesmoke;
    padding: 10px 40px;
    border-radius: 5px;
}

.four {
    color: #186464;
}

.top-banner {
    background-image: url(image/8.jpg);
}

.top-pinik {
    background-image: url(image/02.png);
}